
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <h1>Logged Out</h1>
    <div> 
        <p><b>You have successfully logged out!</b></p>
        <p>To return to Application Interface: <a href="@Request.UrlReferrer.AbsoluteUri">Login again</a></p>
    </div>
</body>
</html>
